.circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    font-size: 25px;
    color: black;
    line-height: 200px;
    text-align: center;
    background: red
}

img {
    border-radius: 50%;
}

* {
    box-sizing: border-box;
}

.row {
    display: flex;
}


/* Two image containers (use 33.33 for three, use 25% for four, and 50% for two, etc) */

.column {
    float: left;
    width: 50%;
    padding: 5px;
}


/* Clear floats after image containers */

.row::after {
    content: "";
    clear: both;
    display: table;
}


/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */

@media screen and (max-width: 500px) {
    .column {
        width: 100%;
    }
}

body {
    padding-top: 50px;
}

.thumbnail {
    position: relative;
    overflow: hidden;
}

.caption {
    position: absolute;
    top: 0;
    right: 0;
    background: rgba(90, 90, 90, 0.75);
    width: 100%;
    height: 100%;
    padding: 2%;
    display: none;
    text-align: left;
    color: #fff !important;
    z-index: 2;
}


/* Slider section */

.slidecontainer {
    width: 90%;
}

.slider {
    -webkit-appearance: none;
    width: 90%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: red;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: red;
    cursor: pointer;
}